<ng-container *ngIf="type === 'price'">
  <ng-container *ngIf="value > 0">
    <span class="up">{{investmentCurrencyUnit?.unit}}+{{value | number: digitsInfo }}</span>
  </ng-container>
  <ng-container *ngIf="value === 0">
    <span class="stay">{{investmentCurrencyUnit?.unit}}0</span>
  </ng-container>
  <ng-container *ngIf="value < 0">
    <span class="down">{{investmentCurrencyUnit?.unit}}{{value | number: digitsInfo  }}</span>
  </ng-container>
</ng-container>

<ng-container *ngIf="type === 'static-price'">
  <span class="stay">{{investmentCurrencyUnit?.unit}}{{value | number: digitsInfo  }}</span>
</ng-container>

<ng-container *ngIf="type === 'static-price-with-yen'">
  <span class="stay">
    <ng-container *ngIf="investmentCurrencyUnit?.id===jpyCurrencyId">
      {{investmentCurrencyUnit?.unit}}{{value | number: digitsInfo }}
    </ng-container>
    <ng-container *ngIf="investmentCurrencyUnit?.id!==jpyCurrencyId">
      \{{value * investmentCurrencyUnit?.latestRate | number: "1.0-0"}}<br>
      ({{investmentCurrencyUnit?.unit}}{{value | number: digitsInfo }})
    </ng-container>
  </span>
</ng-container>

<ng-container *ngIf="type === 'percent'">
  <ng-container *ngIf="value > 0">
    <span class="up">+{{value | number: digitsInfo  }} %</span>
  </ng-container>
  <ng-container *ngIf="value === 0">
    <span class="stay">0 %</span>
  </ng-container>
  <ng-container *ngIf="value < 0">
    <span class="down">{{value | number: digitsInfo  }} %</span>
  </ng-container>
</ng-container>

<ng-container *ngIf="type === 'amount'">
  <span class="stay">{{value | number: digitsInfo  }}</span>
</ng-container>