.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-sider {
  height: 100vh;
  overflow-y: auto;
}

.right-layout {
  height: 100vh;
  overflow-y: auto;
}

nz-header {
  background: #333;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #333;
}

.table-operations {
  margin: 12px;
}
nz-header{
  height: 10px;
}