<h3>マジックパケットを送信する。 </h3>
<div class="table-operations">
  <button nz-button (click)="addTargetModalVisibility = true">機器追加</button>
  <nz-modal [(nzVisible)]="addTargetModalVisibility" nzTitle="The first Modal" (nzOnCancel)="cancelAddTarget()"
    (nzOnOk)="addTarget()" [nzOkDisabled]="addTargetForm.invalid">
    <form nz-form [formGroup]="addTargetForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">機器名</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="deviceName" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">MACアドレス</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="macAddress" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>
<nz-table #targetTable [nzData]="targetList" nzTableLayout="fixed">
  <thead>
    <tr>
      <th nzWidth="120px">選択</th>
      <th>機器名</th>
      <th>MACアドレス</th>
      <th nzWidth="120px">削除</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of targetTable.data">
      <td>
        <button nz-button nzType="primary" (click)="targetMacAddress = item.macAddress">選択</button>
      </td>
      <td>{{ item.deviceName }}</td>
      <td>{{ item.macAddress }}</td>
      <td>
        <button nz-button (click)="deleteTarget(item)">削除</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
  <input type="text" nz-input placeholder="00:00:00:00:00:00" [(ngModel)]="targetMacAddress" />
</nz-input-group>
<ng-template #suffixButton>
  <button nz-button nzType="primary" nzSize="large" (click)="sendMagicPacket()">送信</button>
</ng-template>