<div>
  <div>
    <current-water-states></current-water-states>
  </div>
  <nz-space>
    <nz-select *nzSpaceItem style="width:120px;" [(ngModel)]="selectedTerm"
      (ngModelChange)="selectedTermChanged()">
      <nz-option *ngFor="let item of termCandidate" [nzValue]="item" nzLabel="{{item.value}} {{item.unit}}">
      </nz-option>
    </nz-select>
    <aqua-period-selector *nzSpaceItem [(period)]="selectedPeriod" (periodChange)="selectedPeriodChanged()"></aqua-period-selector>
  </nz-space>
  <div class="chart-box">
    <water-states [dateRange]="selectedDateRange" [period]="selectedPeriod"></water-states>
  </div>
</div>