.card-header {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 65%;
  }
}

nz-input-group {
  margin: 6px 0;
}

nz-card {
  cursor: pointer;
}