<div>
  <date-range-selector [(dateRange)]="selectedDateRange" (dateRangeChange)="selectedDateChanged()">
  </date-range-selector>
  <div nz-row>
    <div class="chart-box" nz-col [nzSm]="{ span: 24,offset:0}" [nzXl]="{span:12}">
      <app-asset-transition-chart [dateRange]="selectedDateRange"></app-asset-transition-chart>
    </div>
    <div class="chart-box" nz-col [nzSm]="{ span: 24,offset:0}" [nzXl]="{span:12}">
      <app-asset-ratio-chart [dateRange]="selectedDateRange"></app-asset-ratio-chart>
    </div>
  </div>
</div>