<div style="padding: 5px;display:inline-block;">
  <nz-space>
    <nz-space-item>
      <nz-card style="width:300px;" [nzBordered]="false" nzTitle="水温">
        <nz-progress nzStrokeLinecap="round" nzType="dashboard" nzPercent="{{(waterState?.waterTemperature-15) * 5}}"
          [nzStrokeColor]="temperatureStrokeColor" [nzFormat]="formatFunc"></nz-progress>
      </nz-card>
    </nz-space-item>
    <nz-space-item>
      <nz-card style=" width:300px;" [nzBordered]="false" nzTitle="気温">
        <nz-progress nzStrokeLinecap="round" nzType="dashboard" nzPercent="{{(waterState?.temperature-15) * 5}}"
          [nzStrokeColor]="temperatureStrokeColor" [nzFormat]="formatFunc"></nz-progress>
      </nz-card>
    </nz-space-item>
    <nz-space-item>
      <nz-card style=" width:300px;" [nzBordered]="false" nzTitle="湿度">
        <nz-progress nzStrokeLinecap="round" nzType="circle" nzPercent="{{waterState?.humidity}}"
          [nzFormat]="humidityFormatFunc"></nz-progress>
      </nz-card>
    </nz-space-item>
  </nz-space>
  <div style="padding:5px;text-align: right;">
    <span>{{waterState?.timeStamp}}時点</span>
  </div>
</div>