<nz-layout class="layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="家計簿" nzIcon="fund-projection-screen" [nzOpen]="true">
        <ul>
          <li nz-menu-item routerLink="financial">Top</li>
          <li nz-menu-item routerLink="financial/asset">資産</li>
          <li nz-menu-item routerLink="financial/expense">支出</li>
          <li nz-menu-item routerLink="financial/income">収入</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="ネットワーク" nzIcon="apartment" [nzOpen]="true">
        <ul>
          <li nz-menu-item routerLink="network/dhcp-leases">DHCP払い出し中リスト</li>
          <li nz-menu-item routerLink="network/wake-on-lan">Wake on LAN</li>
          <li nz-menu-item routerLink="network/diagram">ネットワーク図</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="アクアリウム" nzIcon="qq" [nzOpen]="true">
        <ul>
          <li nz-menu-item routerLink="aquarium/">Top</li>
          <li nz-menu-item routerLink="aquarium/past">過去分</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="電力" nzIcon="thunderbolt" [nzOpen]="true">
        <ul>
          <li nz-menu-item routerLink="electric-power/">Top</li>
          <li nz-menu-item routerLink="electric-power/past">過去分</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="kitchen">
        <i nz-icon nzType="book" nzTheme="outline"></i>
        <span>キッチン</span>
      </li>
      <li nz-menu-item routerLink="palmie">
        <i nz-icon nzType="video-camera" nzTheme="outline"></i>
        <span>パルミー</span>
      </li>
      <li nz-menu-item routerLink="links">
        <i nz-icon nzType="link" nzTheme="outline"></i>
        <span>リンク</span>
      </li>
      <li nz-menu-item routerLink="settings">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
        <span>設定</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>