<nz-layout class="layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Menu1" nzIcon="user">
        <ul>
          <li nz-menu-item>Menu1-1</li>
          <li nz-menu-item>Menu1-2</li>
          <li nz-menu-item>Menu1-3</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Menu2" nzIcon="team">
        <ul>
          <li nz-menu-item>Menu2-1</li>
          <li nz-menu-item>Menu2-2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>Menu3</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Menu1</nz-breadcrumb-item>
        <nz-breadcrumb-item>Menu1-1</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        TextTextText
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
