<nz-layout class="layout">
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="家計簿" nzIcon="fund-projection-screen">
        <ul>
          <li nz-menu-item routerLink="financial">Top</li>
          <li nz-menu-item routerLink="financial/asset">資産</li>
          <li nz-menu-item routerLink="financial/expense">支出</li>
          <li nz-menu-item routerLink="financial/income">収入</li>
        </ul>
      </li>
      <li nz-submenu nzTitle=" Menu1" nzIcon="user">
        <ul>
          <li nz-menu-item>Menu1-1</li>
          <li nz-menu-item>Menu1-2</li>
          <li nz-menu-item>Menu1-3</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Menu2" nzIcon="team">
        <ul>
          <li nz-menu-item>Menu2-1</li>
          <li nz-menu-item>Menu2-2</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>