<div class="table-operations">
  <div class="header">
    <div class="buttons">
      <button nz-button (click)="addInvestmentProductModalVisibility = true">投資商品追加</button>
    </div>
    <div class="summary">
      <div>
        収益額: <app-value-display [value]="totalProfit" [investmentCurrencyUnit]="yenCurrency"></app-value-display>
      </div>
      <div>
        収益率: <app-value-display [value]="rateOfReturn" [type]="'percent'" [investmentCurrencyUnit]="yenCurrency"></app-value-display>
      </div>
      <div>
        評価額: <app-value-display [value]="totalValuation" [type]="'static-price'" [investmentCurrencyUnit]="yenCurrency"></app-value-display>
      </div>
    </div>
  </div>
  <div class="portfolio">
    <app-investment-portfolio-chart [investmentProductList]="investmentProductList" [investmentCurrencyUnitList]="investmentCurrencyUnitList"></app-investment-portfolio-chart>
  </div>
  <nz-modal [(nzVisible)]="addInvestmentProductModalVisibility" nzTitle="投資商品情報登録モーダル" (nzOnCancel)="cancelAddInvestmentProduct()"
    (nzOnOk)="addInvestmentProduct()" [nzOkDisabled]="addInvestmentProductForm.invalid">
    <form nz-form [formGroup]="addInvestmentProductForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">名前</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="name" placeholder="Accenture" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">カテゴリ</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <nz-select nzShowSearch [nzDropdownRender]="renderTemplate" formControlName="Category" nzPlaceholder="米国株式" >
            <nz-option *ngFor="let item of investmentProductCategoryList" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
            <div class="product-category-select-candidate">
              <nz-divider></nz-divider>
              <div class="container">
                <input type="text" nz-input #inputElement />
                <a class="add-item" (click)="investmentProductCategoryList.push(inputElement.value)"><i nz-icon nzType="plus"></i> Add item</a>
              </div>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">取得方式</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <nz-select nzShowSearch [nzDropdownRender]="renderTemplate" formControlName="type" nzPlaceholder="ScrapingService.Targets.YahooFinance" >
            <nz-option *ngFor="let item of investmentProductTypeList" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
            <div class="product-type-select-candidate">
              <nz-divider></nz-divider>
              <div class="container">
                <input type="text" nz-input #inputElement />
                <a class="add-item" (click)="investmentProductTypeList.push(inputElement.value)"><i nz-icon nzType="plus"></i> Add item</a>
              </div>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">通貨単位</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <nz-select formControlName="currencyUnit" placeHolder="米ドル">
            <nz-option *ngFor="let unit of investmentCurrencyUnitList" [nzValue]="unit.id" [nzLabel]="unit.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">キー情報</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="key" placeholder="ACN" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
  <nz-modal [(nzVisible)]="addInvestmentProductAmountModalProduct" nzTitle="投資商品取得量登録モーダル" (nzOnCancel)="cancelAddInvestmentProductAmount()"
    (nzOnOk)="addInvestmentProductAmount()" [nzOkDisabled]="addInvestmentProductAmountForm.invalid">
    <div>
      <span>{{addInvestmentProductAmountModalProduct?.name}}</span>
    </div>
    <form nz-form [formGroup]="addInvestmentProductAmountForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">取得量変更日</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <nz-date-picker formControlName="date" placeholder="2021-12-31" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">取得量</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="amount" placeholder="100" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">取得単価</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24" nzSpan="1-24">
          <input nz-input formControlName="price" placeholder="16.516" />
        </nz-form-control>
      </nz-form-item>
      <span>金額 : {{addInvestmentProductAmountForm.value.amount * addInvestmentProductAmountForm.value.price | number}}</span>
    </form>
  </nz-modal>
</div>
<nz-table #investmentProductTable [nzData]="investmentProductList" nzTableLayout="fixed" [nzPageSize]="50" >
  <thead>
    <tr>
      <th>名前</th>
      <th [nzWidth]="'130px'">評価額</th>
      <th [nzWidth]="'130px'">現在値<br>取得平均単価</th>
      <th [nzWidth]="'130px'">損益額<br>(損益率)</th>
      <th [nzWidth]="'130px'">取得量登録</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of investmentProductTable.data">
      <td>{{item.name}}</td>
      <td>
        <app-value-display [value]="item.latestRate * item.amount" [type]="'static-price-with-yen'" [investmentCurrencyUnit]="investmentCurrencyUnitList | firstOrDefaultPipe : 'id': item.currencyUnitId "></app-value-display>
      </td>
      <td>
        <app-value-display [value]="item.latestRate" [type]="'static-price'" [investmentCurrencyUnit]="investmentCurrencyUnitList | firstOrDefaultPipe : 'id': item.currencyUnitId "></app-value-display><br>
        <app-value-display [value]="item.averageRate" [type]="'static-price'" [investmentCurrencyUnit]="investmentCurrencyUnitList | firstOrDefaultPipe : 'id': item.currencyUnitId " [adjustNumberOfDecimalPoint]="2"></app-value-display>
      </td>
      <td>
        <app-value-display [value]="(item.latestRate - item.averageRate) * item.amount" [investmentCurrencyUnit]="investmentCurrencyUnitList | firstOrDefaultPipe : 'id': item.currencyUnitId "></app-value-display><br>
        <app-value-display [value]="(item.latestRate / item.averageRate) * 100 - 100" [type]="'percent'"></app-value-display>
      </td>
      <td><button nz-button (click)="addInvestmentProductAmountModalProduct = item;">取得量登録</button></td>
    </tr>
  </tbody>
</nz-table>