<div>
  <date-range-selector [(dateRange)]="selectedDateRange" (dateRangeChange)="selectedDateChanged()">
  </date-range-selector>
  <div nz-row>
    <div class="chart-box" nz-col [nzSm]="{ span: 24,offset:0}" [nzXl]="{span:12}">
      <app-income-transition-chart [transactions]="transactions"
        (filterConditionChange)="filterCondition = $event">
      </app-income-transition-chart>
    </div>
    <div class="chart-box" nz-col [nzSm]="{ span: 24,offset:0}" [nzXl]="{span:12}">
      <app-income-ratio-chart [transactions]="transactions"
        (filterConditionChange)="filterCondition = $event">
      </app-income-ratio-chart>
    </div>
  </div>
  <app-income-raw-data-viewer [transactions]="transactions" [filterCondition]="filterCondition">
  </app-income-raw-data-viewer>
</div>